{% extends "base.html" %}
{% block title%}Jack003{% endblock %}
{% block css%}
<link href="/static/css/app-20170122.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="header">
    <div class="vert-text">
        <img class="img-rounded" alt="Company Logo" width="81px" src="/static/img/Jack.jpg"/>
        <a href="http://www.jack003.com" target="_blank" style="color: white;text-decoration: none;"><h2>Kun Jia</h2></a>
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/jiakunnj" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
            <li><a href="https://github.com/jarrekk" target="_blank"><i class="fa fa-github-square fa-3x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/kun-jia-991264a2/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
            <li><a href="mailto:me@jack003.com"><i class="fa fa-envelope-square fa-3x"></i></a></li>
        </ul>
        <br>
        <a href="{{ url_for('api_1_0.index') }}" target="_blank" class="btn btn-top">API List</a>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/app-20170122.min.js"></script>
<script>
    $.vegas('slideshow', {
        delay: 5000,
        backgrounds: [
            {src: '/static/img/bk1.jpg', fade: 2000},
            {src: '/static/img/bk2.jpg', fade: 2000},
            {src: '/static/img/bk3.jpg', fade: 2000},
            {src: '/static/img/bk4.jpg', fade: 2000},
            {src: '/static/img/bk5.jpg', fade: 2000},
            {src: '/static/img/bk6.jpg', fade: 2000},
            {src: '/static/img/bk7.jpg', fade: 2000}
        ]
    })('overlay', {
        src: '/static/img/overlay.png'
    });

</script>
{% endblock %}
